---
import BaseLayout from "@layouts/BaseLayout.astro";
import RichPostLink from "@comps/RichPostLink.astro";
import IconLink from "@comps/IconLink.astro";

import { getCollection } from "astro:content";

const allPosts = (await getCollection("blog")).sort((post1, post2) => post2.data.pubDate.valueOf() - post1.data.pubDate.valueOf())
---
<BaseLayout title="blog" description="hackysphere's blog">
    <h1>blog ∙
        <span style="font-size: 0.8em;">
            <!-- rss color is large AA compliant, tags color is large AA compliant -->
            <IconLink link="/blog/rss.xml" icon="/icons/icon-rss.svg" text="rss" color="orange" /> ∙
            <IconLink link="/blog/tags" icon="/icons/icon-tag.svg" text="tags" color="var(--tag-color)" />
        </span>
    </h1>

    {allPosts.length == 0
    ? <p>...there's nothing here (yet!)</p>
    : allPosts.map((post) => <RichPostLink post={post} />)
    }
</BaseLayout>