html, body {
    height: 100%;
}

html {
    --bg-color: rgb(21, 90, 113);
    --bg-color-darkened: rgb(10, 52, 66);
    --font-color: white;
    --tag-color: rgb(26, 194, 255); /* large AA regular, AA darkened */
    --info-color: rgb(204, 204, 204); /* AA regular, AAA darkened */
    --link-color: rgb(0, 230, 165); /* AA regular, AAA darkened */
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Outfit', 'Inter', 'Helvetica', 'Arial', system-ui, sans-serif;
    font-size: 1.4rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

code {
    font-family: 'JetBrains Mono', 'Roboto Mono', monospace;
    font-size: 0.9em;
}

pre, p > code {
    padding: 0.2em;
    border-radius: 5px;
}

p > code, blockquote {
    background-color: var(--bg-color-darkened);
}

blockquote {
    border-left: 2px solid white;
    margin-left: 1.5em;
}

blockquote > p {
    padding: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: dotted 2px;
    text-decoration-line: underline;
}

a:hover {
    color: var(--font-color);
    text-decoration: solid;
    text-decoration-line: underline;
}

header {
    background-color: var(--bg-color-darkened);
}

nav {
    padding: 0.8rem;
    margin-left: 20%;
    border-radius: 10px;
    width: fit-content;
}

nav * {
    margin: 0.3em;
}

main {
    margin-top: 1rem;
    margin-left: 20%;
    max-width: 60%;
    flex-grow: 1;
}

footer {
    background-color: var(--bg-color-darkened);
    font-size: 0.7rem;
    text-align: center;
    margin-top: 1rem;
}

hr {
    color: white;
    border-radius: 100%;
}

table {
    border: 2px solid white;
    background-color: var(--bg-color-darkened);
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 2px solid white;
}

td {
    border: 2px solid gray;
    background-color: var(--bg-color);
}