@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrains Mono.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrains Mono Italic.ttf') format('truetype');
  font-style: italic;
}

html, body {
    height: 100%;
}

html {
    --bg-color: rgb(21, 90, 113);
    --bg-color-darkened: hwb(from var(--bg-color) h w 70);
    --font-color: white;
    --tag-color: rgb(0, 135, 184);
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Outfit', 'Helvetica', sans-serif;
    font-size: 1.4rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9em;
}

pre, p > code {
    padding: 2px;
    border-radius: 5px;
}

p > code, blockquote {
    background-color: var(--bg-color-darkened);
}

blockquote {
    border-left: 2px solid white;
    margin-left: 2ch;
}

blockquote > p {
    padding: 0.5rem;
}

a {
    color: rgb(0, 209, 149);
    text-decoration: dotted 2px;
    text-decoration-line: underline;
}

a:hover {
    color: var(--font-color);
    text-decoration: solid;
    text-decoration-line: underline;
}

header {
    background-color: var(--bg-color-darkened);
}

nav {
    padding: 1ch;
    margin-left: 20%;
    border-radius: 10px;
    width: fit-content;
}

nav * {
    margin: 0.5ch;
}

main {
    margin-top: 2ch;
    margin-left: 20%;
    max-width: 60%;
    flex-grow: 1;
}

footer {
    background-color: var(--bg-color-darkened);
    font-size: 0.7em;
    text-align: center;
    padding: 1px;
    margin-top: 1ch;
}

hr {
    color: white;
    border-radius: 100%;
}

table {
    border: 2px solid white;
    background-color: var(--bg-color-darkened);
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 2px solid white;
}

td {
    border: 2px solid gray;
    background-color: var(--bg-color);
}