---
import "@styles/global.css"
---
<style>
    .status-beta {
        background: repeating-linear-gradient(
            45deg,
            rgb(0, 92, 167),
            rgb(0, 92, 167) 20px,
            rgb(0, 67, 122) 20px,
            rgb(0, 67, 122) 40px
        );
        
    }
</style>

<div class="status-beta">
    <h2>BETA</h2>
    <p>This is still being developed, but this <i>should</i> be in a functional state.</p>
</div>