---
import "@styles/global.css"
import type { InferEntrySchema } from "astro:content";
import TagButton from "./TagButton.astro";

interface Props {
    frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---
<style>
    .info {
        color: var(--info-color);
        font-size: 0.8em;
    }
</style>

<p class="info">
    {frontmatter.author !== "hackysphere" && `written by ${frontmatter.author} ∙`}
    published {frontmatter.pubDate.toISOString().slice(0, 10)}
    {frontmatter.updDate && `∙ updated ${frontmatter.updDate.toISOString().slice(0, 10)}`}
    {frontmatter.tags && frontmatter.tags.map((tag) => <TagButton url={`/blog/tags/${tag}`} tag={tag} />)}
</p>