---
import "@styles/global.css"
import type { CollectionEntry } from "astro:content";
import PostInfo from "./PostInfo.astro";

interface Props {
    post: CollectionEntry<"blog">,
    useh3?: boolean
}

const { post, useh3 } = Astro.props;
const HeaderTag = useh3 ? "h3" : "h2";
---
<style>
    article {
        margin: 1em 0;
        padding: 0.3em 0.4em;
        border-radius: 10px;
        background-color: var(--bg-color-darkened);
    }

    h2, h3 {
        margin-top: 0.3em;
        margin-bottom: 0;
    }

    .description {
        margin-top: 0.5em;
        color: rgba(255, 255, 255, 0.87);
    }
</style>

<article>
    <HeaderTag><a href={`/blog/${post.id}`}>{post.data.title}</a></HeaderTag>
    <p class="description"><i>{post.data.description}</i></p>
    <PostInfo frontmatter={post.data} />
</article>