---
import "@styles/global.css";

interface Props {
    tag: string,
    url: string
}

const { tag, url } = Astro.props;
---
<style>
    a {
        background-color: var(--bg-color-darkened);
        border-radius: 10px;
        margin: 0.2em;
        padding: 0.1em 0.3em;
        color: var(--tag-color);
    }
</style>

<a href={url}>{tag}</a>