---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<BaseLayout>
    <h1>oops!</h1>
    <p>That page doesn't exist!</p>
    <a href="/">Go home</a>
    <p style="margin-top: 5ch;">(if something is supposed to be here, <a href="/contact">contact me</a>)</p>
</BaseLayout>