---
import BaseLayout from "@layouts/BaseLayout.astro"
---
<meta name="robots" content="noindex">

<BaseLayout>
    <h1>oops!</h1>
    <p>That page doesn't exist!</p>
    <a href="/">Go home</a>
    <p style="font-size: 0.8em;">(if something is supposed to be here, <a href="/contact">contact me</a>)</p>
</BaseLayout>