---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="about">
    <h1>about me</h1>
    <h3>hi!</h3>
    <p>I'm a somewhat-experienced Python developer and a beginner web developer.<br/>
       I also have some experience with Docker, and hope to learn Ansible soon!
    </p>
</BaseLayout>