---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="contact" description="contacts for hackysphere">
    <h1>contact</h1>
    <p>here's a list of <i>most</i> of the services you can find me on!</p>

    <p><b>keyoxide:</b> <a href="https://keyoxide.org/aspe:keyoxide.org:H7YE72CUJHKOGFQ6IOFKYSL7QI">aspe:keyoxide.org:H7YE72CUJHKOGFQ6IOFKYSL7QI</a></p>
    <ul><li>this is a list of my profiles which can be verified to all come from one "person"</li></ul>

    <div id="primary">
        <h2>generic</h2>
        <p>email: <a href="mailto:hi@hcks.dev">hi@hcks.dev</a><br/>
           matrix: <a href="https://matrix.to/#/@hackysphere:matrix.org">@hackysphere:matrix.org</a><br/>
           github: <a href="https://github.com/hackysphere">@hackysphere</a>
        </p>
    </div>

    <div id="socials">
        <h2>social media</h2>
        <p>mastodon: <a href="https://techhub.social/@hackysphere">@hackysphere@techhub.social</a><br/>
           bluesky: <a href="https://bsky.app/profile/hcks.dev">@hcks.dev</a><br/>
           discord: @hackysphere
        </p>
    </div>

    <div id="games">
        <h2>games</h2>
        <p>lichess: <a href="https://lichess.org/@/hackysphere">@hackysphere</a> (I don't play regularly anymore)<br/>
           tetr.io: <a href="https://ch.tetr.io/u/hackysphere">hackysphere</a><br/>
           fancade: <code>hackysphere2</code>
        </p>
    </div>
</BaseLayout>
