---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout>
    <h1>hcks.dev</h1>
    <p>not much is here yet... maybe check back later?<br/>
       or check out my <a href="/contact#socials">socials</a>?</p>
</BaseLayout>
