---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<head>
    <meta name="robots" content="noindex">
</head>

<BaseLayout title="domain moved">
    <h1><code>hcks.xyz</code> has moved</h1>
    <p>hcks.xyz is now being moved to hcks.dev<br/>
       please make sure to update your bookmarks and email links</p>
    <p style="font-size: 1.5em;">
        <a href="/">go to new homepage</a>
    </p> 
</BaseLayout>