---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import TagButton from "@comps/TagButton.astro";

const allPosts = await getCollection("blog");
const tags: string[] = [...new Set(
    allPosts
        .filter((post) => Array.isArray(post.data.tags))
        .flatMap((post) => post.data.tags as string[])
)];
---
<BaseLayout title="blog tags" description="blog tags for hackysphere's blog">
    <h1>blog</h1>
    <h2>tag listing</h2>
    {tags.length == 0 || !tags[0]
    ? <p>no blogposts with tags found</p>
    : tags.map((tag) => <TagButton tag={tag} url={`/blog/tags/${tag}`} />)
    }
</BaseLayout>