---
import "@styles/global.css"

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<title>{title ? `${title} - hackysphere` : "hackysphere"}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="https://techhub.social/@hackysphere" rel="me">

		<script defer src="https://cloud.umami.is/script.js" data-website-id="43856ab8-d59c-41c8-92c4-7e09b3ad1ecc"></script>

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<header>
			<nav>
				<a href="/">home</a>
				<a href="/blog">blog</a>
				<a href="/contact">contact</a>
				<a href="/about">about</a>
			</nav>
        </header>

		<main>
        	<slot />
		</main>

		<footer>
            <p>© hcks {new Date().getFullYear()}<br/>
               website licensed under <a href="https://github.com/hackysphere/pages/blob/main/LICENSE">MIT</a>, content under <a href="https://github.com/hackysphere/pages/blob/main/LICENSE-CONTENT">CC BY 4.0</a></p>
        </footer>
	</body>
</html>
